# Some files should not be treated as text when diffing or merging.
*.gpg binary
*.gz binary
*.icns binary
*.ico binary
*.pbm binary
*.pdf binary
*.png binary
*.sig binary
*.tiff binary
*.bmp binary

*.wav binary
*.mp3 binary
*.flac binary

prime_list* -diff
