## general settings
language: cpp
compiler:
  - gcc
  # - clang
# cache apt packages, ccache and installed libraries
cache:
  apt: true
  directories:
    - $HOME/.cache
    - $HOME/.ccache
    - $HOME/local
# force travis to use container
sudo: false

# install gcc-4.9
addons:
  apt:
    sources:
    - llvm-toolchain-precise-3.6
    - ubuntu-toolchain-r-test
    packages:
    - clang-3.6
    - gcc-4.9
    - g++-4.9

# run each of these tests in a seperate instance
env:
  - TEST_TYPE=all
  - TEST_TYPE=test-debug-rsa-crypt
  - TEST_TYPE=test-debug-rsa-attack
  - TEST_TYPE=test-debug-stego-crypt
  - TEST_TYPE=test-debug-stego-attack
  - TEST_TYPE=test-debug-dgcrypto
  - TEST_TYPE=test-debug-dgtype
  - TEST_TYPE=test-debug-dgimg
  - TEST_TYPE=test-debug-libgnump
  - TEST_TYPE=test-rsa-crypt
  - TEST_TYPE=test-rsa-attack
  - TEST_TYPE=test-stego-crypt
  - TEST_TYPE=test-stego-attack
  - TEST_TYPE=test-dgcrypto
  - TEST_TYPE=test-dgtype
  - TEST_TYPE=test-dgimg
  - TEST_TYPE=test-libgnump

## install
before_install:
  - which -a clang-3.6
  - which -a clang++-3.6
  - which -a gcc-4.9
  - which -a g++-4.9
  - which -a gcov
  - which -a lcov
  - echo `whoami`
  - echo `uname`
  - export UNAME=`uname`
  - export PATH=$HOME/local/$UNAME/bin:$PATH
  - export LD_LIBRARY_PATH=$HOME/local/$UNAME/lib:$LD_LIBRARY_PATH
  - export CPLUS_INCLUDE_PATH=$HOME/local/$UNAME/include:$CPLUS_INCLUDE_PATH
  - if [ "$CC" == "gcc" ]; then export CC="ccache gcc-4.9 -fdiagnostics-color=auto"; fi
  - if [ "$CXX" == "g++" ]; then export CXX="ccache g++-4.9 -fdiagnostics-color=auto"; fi
  - if [ "$CC" == "clang" ]; then export CC="ccache clang-3.6 -fdiagnostics-color=auto"; fi
  - if [ "$CXX" == "clang++" ]; then export CXX="ccache clang++-3.6 -fdiagnostics-color=auto"; fi
  - which -a g++-4.9
  - which -a gcc-4.9

install:
  - mkdir -p $HOME/local/`uname`/
  - make install-deps

## script
before_script:
script:
  # - make $BUILD_TYPE
  # - make all
  - make $TEST_TYPE

## after
after_success:
after_failure:

# after_script is run after after_success and failure
after_script:
  - cat build/coveralls.json
  - cat debug/coveralls.json

# notify gitter
notifications:
  webhooks:
    urls: https://webhooks.gitter.im/e/1eef7e496a6902ff54c7
    on_success: change
    on_failure: change