language: cpp
compiler:
  - gcc
  #- clang
install:
  ## reset and clean
  # - git reset --hard HEAD
  # - git clean -fdx
  ## install gcc-4.8 (needed for C++11)
  # - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  # - sudo add-apt-repository --yes ppa:kalakris/cmake
  # - sudo apt-get update -qq
  # - if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
  # - if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
  ## update cmake version
  # - sudo apt-get install -y cmake
  ##
  # - sudo apt-get install -y build-essential
  ## If we want to use coveralls
  # - sudo pip install cpp-coveralls
script:
  # - rm -rf build debug
  # - ./build.sh
  - $CXX src/dorothy/main.cc
  - $CXX src/toto/main.cc
  - $CXX src/munchkincrypt/main.cc
  - $CXX src/munchkinsteg/main.cc
notifications:
  webhooks:
    urls: https://webhooks.gitter.im/e/1eef7e496a6902ff54c7
    on_success: change
    on_failure: always
