language: cpp
compiler:
  - gcc
sudo: false
addons:
  apt:
    sources:
    # - deadsnakes
    - ubuntu-toolchain-r-test
    packages:
    # - cmake
    - gcc-4.9
    - g++-4.9
env:
  - BUILD_TYPE=debug TEST_TYPE=test-rsa-crypt
  - BUILD_TYPE=debug TEST_TYPE=test-rsa-attack
  - BUILD_TYPE=debug TEST_TYPE=test-stego-crypt
  - BUILD_TYPE=debug TEST_TYPE=test-stego-attack
  - BUILD_TYPE=debug TEST_TYPE=test-dgcrypto
  - BUILD_TYPE=debug TEST_TYPE=test-dgtype
  - BUILD_TYPE=debug TEST_TYPE=test-dgimg
  - BUILD_TYPE=debug TEST_TYPE=test-libgnump
  # - BUILD_TYPE=build TEST_TYPE=test-rsa-crypt
  # - BUILD_TYPE=build TEST_TYPE=test-rsa-attack
  # - BUILD_TYPE=build TEST_TYPE=test-stego-crypt
  # - BUILD_TYPE=build TEST_TYPE=test-stego-attack
  # - BUILD_TYPE=build TEST_TYPE=test-dgcrypto
  # - BUILD_TYPE=build TEST_TYPE=test-dgtype
  # - BUILD_TYPE=build TEST_TYPE=test-dgimg
  # - BUILD_TYPE=build TEST_TYPE=test-libgnump
cache:
  apt: true
  directories:
    - $HOME/.ccache
    - $HOME/.tmp
    - $HOME/local/$UNAME
install:
  - export CXX="ccache g++-4.9 -fdiagnostics-color=auto"
  - export CC="ccache gcc-4.9 -fdiagnostics-color=auto"
  - mkdir -p $HOME/local/`uname`/
  - export UNAME=`uname`
  - export PATH=$HOME/local/$UNAME/bin:$PATH
  - export LD_LIBRARY_PATH=$HOME/local/$UNAME/lib:$LD_LIBRARY_PATH
  - export CPLUS_INCLUDE_PATH=$HOME/local/$UNAME/include:$CPLUS_INCLUDE_PATH
script:
  - make install-deps
  - make $BUILD_TYPE
  - make $TEST_TYPE
notifications:
  webhooks:
    urls: https://webhooks.gitter.im/e/1eef7e496a6902ff54c7
    on_success: change
    on_failure: always
sudo: false